h1, h2, h3, h4, h5, h6, p, ul, li{
    font-family: 'Raleway';
    font-color:white;
}

.myButton {
    position: absolute;
    margin-left: 40%;
    -moz-box-shadow: inset -3px 1px 25px -2px #383838;
    margin-top: -30%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid white;
    cursor: pointer;
    color: darkred;
    font-size: 53px;
    padding: 0px 92px;
    text-decoration: none;
    font-family: raleway;
    font-weight: 600;
}

.myButton:hover {
    opacity: 1;
    border: 1px solid darkred;
    text-decoration: none;
    color: ghostwhite;
}

.background{
    position : relative ;
    z-index : 1;
    width: 100%;
}

.guerrier img{
    width:350px;
    height:auto;
}

.magicienne img{
    width: 350px;
    height: 236px;
}

.paladin img{
    width: 350px;
    height: 239px;
}

.choisir h1 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 1.9em;
    font-size: 54px;
    color: darkred;
    font-weight: 500;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip0058 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 260px;
    max-width: 355px;
    max-height: 239px;
    width: 150%;
    background: #000000;
}
figure.snip0058 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.snip0058 > img {
    opacity: 1;
    width: 100%;
    filter: blur(0px);
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
figure.snip0058 figcaption {
    left: 30px;
    margin-bottom: -52px;
    position: absolute;
    right: 30px;
    text-align: left;
    bottom: 100%;
    -webkit-transition: bottom 0.35s;
    transition: bottom 0.35s;
}

figure.snip0058 figcaption h2 {
    width: 100%;
    text-align: left;
    border-radius: 0 0 5px 5px;
    margin: 0;
    padding: 15px 20px;
    font-size: 1.7em;
    bottom: 0;
    font-weight: 300;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    font-color:white;
}
figure.snip0058 figcaption h2 span {
    font-weight: 400;
}
figure.snip0058 figcaption p {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    margin: 0;
    font-size: 0.9em;
    min-height: 220px;
}
figure.snip0058 figcaption p span {
    padding: 15px 20px;
    position: absolute;
    bottom: 0;
}
figure.snip0058 figcaption .icons {
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
}

figure.snip0058:after {
    position: absolute;
    display: block;
    bottom: -15px;
    height: 15px;
    right: 30px;
    left: 30px;
    border-radius: 5px 5px 0 0;
    background-color: #000000;
    z-index: 2;
    content: '';
    -webkit-transition: bottom 0.35s;
    transition: bottom 0.35s;
}
figure.snip0058.blue:after,
figure.snip0058.blue h2 {
    background: #20638f;
}
figure.snip0058.red:after,
figure.snip0058.red h2 {
    background: #962d22;
}
figure.snip0058.yellow:after,
figure.snip0058.yellow h2 {
    background: #bf6516;
}
figure.snip0058.green:after,
figure.snip0058.green h2 {
    background: #1e8449;
}
figure.snip0058 a {
    color: white;
    font-weight: 500;
}
figure.snip0058 a:hover {
    opacity: 1;
}
figure.snip0058:hover > img,
figure.snip0058.hover > img {
    opacity: 0.5;
    filter: blur(5px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
figure.snip0058:hover figcaption,
figure.snip0058.hover figcaption {
    bottom: 115px;
}
figure.snip0058:hover figcaption .icons i,
figure.snip0058.hover figcaption .icons i {
    opacity: 1;
    bottom: -41px;
}
figure.snip0058:hover figcaption::before,
figure.snip0058.hover figcaption::before {
    opacity: 0.8;
}
figure.snip0058:hover:after,
figure.snip0058.hover:after {
    bottom: 0;
}


a.nostyle{
    color:inherit;
    text-decoration:none;
    padding:0;
    margin:0;
}
div.portfoliocard{
    position:relative;
    height:450px;
    width:400px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(0,0,0,0.7);
    box-shadow:0px -1px 3px rgba(0,0,0,0.1),
    0px 2px 6px rgba(0,0,0,0.5);
    border-radius:6px;
    margin:10% auto;
    overflow:hidden;
    z-index:100;
}
div.portfoliocard div.coverphoto{
    width:100%;
    height:120px;
    background:url('http://farm8.staticflickr.com/7149/6484148411_baf8d2e934_z.jpg');
    background-position:center center;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    box-shadow:inset 0px 3px 20px rgba(255,255,255,0.3),
    1px 0px 2px rgba(255,255,255,0.7);
    z-index:99;
}
div.portfoliocard div.left_col, div.portfoliocard div.right_col{
    float:left;
    height:340px;
}
div.portfoliocard div.left_col{
    width:40%;
    padding-top:85px;
    box-sizing:border-box;
}
div.portfoliocard div.right_col{
    width:60%;
    background:rgba(245,245,245,1);
    border-left:1px solid rgba(230,230,230,1);
    box-shadow:inset 0px 1px 1px rgba(255,255,255,0.7);
    margin-left:-1px;
    border-bottom-right-radius:5px;
}
div.portfoliocard div.profile_picture{
    width:110px;
    height:110px;
    background:rgba(255,255,255,1);
    position:absolute;
    top:65px;
    left:40px;
    border-radius:100%;
    background-image: url('http://cache.spreadshirt.net/Public/Common/images/profile-pic-placeholder_130x130.png');
    background-size:100% 100%;
    padding:7px;
    border:4px solid rgba(255,255,255,1)
}
div.portfoliocard div.right_col h2.name{
    font-size:30px;
    font-weight:300;
    color: rgba(30,30,30,1);
    padding:0;
    margin:20px 10px 0px 30px;
}
div.portfoliocard div.right_col h3.location{
    font-size:15px;
    font-weight:300;
    color:rgba(170,170,170,1);
    padding:0;
    margin:-5px 10px 10px 30px;
}
div.portfoliocard ul.contact_information{
    margin-top:20px;
    padding-left:30px;
    list-style-type:none;
}
div.portfoliocard ul.contact_information li{
    height:25px;
    width:180px;
    line-height:25px;
    font-weight:300;
    font-size:15px;
    color:rgba(140,140,140,1);
    text-shadow:1px 1px 1px rgba(255,255,255,0.8);
    padding:5px 0px;
    background-repeat:no-repeat;
    background-size:18px 18px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    box-shadow:0px 1px 1px rgba(255,255,255,0.6);
    cursor:default;
}
div.portfoliocard ul.contact_information li:before{
    content:"";
    width:25px;
    height:25px;
    display:block;
    float:left;
    background-position:center;
    background-size:18px 18px;
    background-repeat:no-repeat;
    margin-right:5px;
    opacity:0.7;
}
div.portfoliocard ul.contact_information li:hover:before{
    opacity:1;
}
div.portfoliocard ul.contact_information li.work:before{
    background-image: url('http://schulzmarcel.de/x/icons/case_24.png');
}
div.portfoliocard ul.contact_information li.website:before{
    background-image: url('http://schulzmarcel.de/x/icons/globe_24.png');
}
div.portfoliocard ul.contact_information li.mail:before{
    background-image: url('http://schulzmarcel.de/x/icons/paper_plane_24.png');
}
div.portfoliocard ul.contact_information li.phone:before{
    background-image: url('http://schulzmarcel.de/x/icons/phone_24.png');
}
div.portfoliocard ul.contact_information li.resume:before{
    background-image: url('http://schulzmarcel.de/x/icons/inbox_24.png');
}
div.portfoliocard div.followers, div.portfoliocard div.following{
    margin:15px 0px 0px 35px;
    font-weight:300;
    font-size:16px;
    color:rgba(30,30,30,1);
}
div.portfoliocard div.follow_count{
    font-weight:400;
    font-size:25px;
    color:rgba(140,140,140,1);
}


.backimage:before {
    content: "";
    position: fixed;
    height: 100%; width: 100%;
    background: url(../img/fond.jpg);
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    -webkit-filter: blur(8px);
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
}

.profile-card {
    background: #FF5722;
    width: 550px;
    height: 156px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    overflow: hidden;
    opacity: 0;
    margin-top: 70px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    animation: init 1.5s 0.2s cubic-bezier(0.55, 0.055, 0.275, 0.19) forwards, materia 0.5s .9s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
.profile-card header {
    width: 230px;
    height: 280px;
    padding: 50px 0px 10px 0px;
    display: inline-block;
    float: left;
    border-right: 2px dashed #EEEEEE;
    background: #FFFFFF;
    margin-top: 50px;
    opacity: 0;
    text-align: center;
    animation: moveIn 1s 1.5s ease forwards;
}

.profile-card header h1 {
    color: black;
}

.profile-card header a {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: -15px 20px;
}

.profile-card header a > img {
    max-width: 100%;
}

.profile-card header a:after {
    position: absolute;
    content: "$500";
    bottom: 3px;
    right: 3px;
    padding: 10px 5px;
    border: 4px solid #FFFFFF;
    transform: scale(0);
    background: linear-gradient(#FF5722 0%, #FF5722 50%, #FF5722 50%, #FF5722 100%);
    color: #fff;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    animation: scaleIn 1.3s 1.5s ease forwards;
}

.profile-card .profile-bio {
    width: 45%;
    height: 45%;
    display: inline-block;
    float: right;
    padding: 50px 20px 30px 20px;
    background: #FFFFFF;
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    animation: moveIn 1s 1s ease forwards;
}

.list-unstyled {
    margin-top: 20px;
    padding-left: 0;
    list-style: none;
}
.list-inline li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
.social-icons .fa {
    font-size: 1.8em;
    line-height: 0px;
    text-align: center;
    color: #fdbbaf;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.social-icons .fa:hover,
.social-icons .fa:active {
    font-size: 3em;
    -webkit-box-shadow: 1px 1px 3px #333;
    -moz-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
}

@keyframes init {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 36px;
        height: 36px;
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes materia {
    0% {
        background: #E0E0E0;
    }
    50% {
        border-radius: 4px;
    }
    100% {
        width: 500px;
        height: 280px;
        background: #FFFFFF;
        border-radius: 4px;
    }
}

@keyframes moveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: -20px;
    }
}

@media screen and (min-aspect-ratio: 4/3) {
    body {
        background-size: cover;
    }
    body:before {
        width: 0px;
    }
}
@keyframes puff {
    0% {
        top: 100%;
        width: 0px;
        padding-bottom: 0px;
    }
    100% {
        top: 50%;
        width: 100%;
        padding-bottom: 100%;
    }
}


@media screen and (max-width: 460px) {
    .profile-card header {
        width: auto;
        height: auto;
        padding: 45px 0 30px 0;
        display: block;
        float: none;
        border-right: none;
    }

    .profile-card header a > img {
        width: 150px;
    }

    .profile-card .profile-bio {
        width: auto;
        height: auto;
        padding: 0px 20px 30px 20px;
        display: block;
        float: none;
    }

    @keyframes materia {
        0% {
            background: #E0E0E0;
        }
        50% {
            border-radius: 4px;
        }
        100% {
            width: 90%;
            height: 90%;
            background: #FFFFFF;
            border-radius: 4px;
        }
    }
}

@media screen and (max-width: 360px) {

    .profile-card header a > img {
        width: 100px;
    }

    .profile-card .profile-bio {
        width: auto;
        height: auto;
        padding: 0px 10px 10px 10px;
        display: block;
        float: none;
    }

    @keyframes materia {
        0% {
            background: #E0E0E0;
        }
        50% {
            border-radius: 4px;
        }
        100% {
            width: 95%;
            height: 95%;
            background: #FFFFFF;
            border-radius: 4px;
        }
    }
}


.portfogame:before {
    content: "";
    position: fixed;
    height: 100%; width: 100%;
    background: url(../img/fond.jpg);
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    -webkit-filter: blur(8px);
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
}

.textgame p {
    margin-top: 19%;
    margin-left: 8%;
    position: absolute;
    text-shadow: 0 1px 0 #eee, 0 2px 0 #e5e5e5, -1px 3px 0 #C8C8C8, -1px 4px 0 #C1C1C1, -2px 5px 0 #B9B9B9, -2px 6px 0 #B2B2B2, -2px 7px 2px rgba(0,0,0, 0.6), -2px 7px 8px rgba(0,0,0, 0.2), -2px 7px 45px rgba(0,0,0, 0.4);
    text-align: center;
    color: darkred;
    font-size: 190px;
}



.vs p{
    margin-top: 30%;
    font-size: 18em;
    color: darkred;
    font-weight: 600;
}

