.myButton {
    position: absolute;
    margin-left: 40%;
    -moz-box-shadow: inset -3px 1px 25px -2px #383838;
    margin-top: -30%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid white;
    cursor: pointer;
    color: darkred;
    font-size: 53px;
    padding: 0px 92px;
    text-decoration: none;
    font-family: raleway;
    font-weight: 900;
}

.myButton:hover {
    opacity: 1;
    border: 1px solid darkred;
    text-decoration: none;
    color: ghostwhite;
}

.myButton:active {
    opacity: 1;
    border: 1px solid darkred;
    text-decoration: none;
    color: ghostwhite;
    top:1px;

}

.background{
    position : relative ;
    z-index : 1;
    width: 100%;
}